{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/easygoservices.css' %}">
{% endblock %}
{% block content %}
<section class="services-page">
        <div class="container">
            <h2>Our Services</h2>
            <ul>
                <li>🚛 Land Freight — Quick & secure cargo delivery</li>
                <li>🚢 Sea Freight — Trusted international shipping</li>
                <li>📦 Warehousing — Safe storage solutions</li>
                <li>📍 Tracking & Logistics Management</li>
            </ul>
            <p>We customize delivery solutions to meet your business needs.</p>
        </div>
    </section>
{% endblock %}